{% extends "layout.html" %}


{% block body %}

<h2 > NUEVO POST</h2>



<div class="add-form">
<form class="add" action="{{ url_for ('create_post') }}" method="POST" enctype="multipart/form-data"
    id="form_id">
    <input type="text" name="titulo" placeholder="Titulo" required>
    <textarea name="texto" id="" cols="30" rows="10" placeholder="Post" class="text-area"></textarea>
    <button type="submit" name="status" value="published">Publicar</button>
    <button type="submit" name="status" value="draft">Guardar como borrador</button>
    <div id="file-inputs"></div>
    <button id="add-file-button" class="add-file"  type="button">Agregar archivo</button>
    <div id="error-message1">{{ error_message }}</div>
    <!-- <input type="submit" name="submit"> -->
</form>
</div>
<!-- <script src="{{url_for('static', filename='app.js')}}"></script> -->


{% endblock %}

