<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO DO APP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>



<body>


    <header class="main-head">
        <nav>


            
            <h1 id="logo"><a class="nav-button" href="{{ url_for('index') }}"> Flask Blog </a></h1>

            <ul>
                <li>
                    <a class="nav-button" href="{{ url_for('index') }}"> Inicio </a>
                </li>

                <li>
                    <a class="nav-button" href="{{ url_for('add') }}"> Agregar</a>
                </li>
                <li>
                    <a class="nav-button" href="{{ url_for('all_posts') }}">Mis Posts</a>
                </li>
                {% if 'username' in session %}
    <li class="dropdown">
        <a class="dropdown-toggle" href="#">{{ session['username'] }}</a>
        <ul class="dropdown-menu">
            <li>
                <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
            </li>
        </ul>
    </li>
{% endif %}

{% if 'username' not in session %}
    <li>
        <a class="nav-button" href="{{ url_for('login') }}">Iniciar Sesión</a>
    </li>
{% endif %}
                

            </ul>
        </nav>
    </header>
    {% block body %}
    {% endblock %}

    <script src="{{url_for('static', filename='app.js')}}"></script>
</body>

</html>